.selector {
  z-index: 10;
  position: fixed;
  bottom: 1em;
  right: 1em;
  display: none;
  opacity: 0;
  transition: opacity 0.3s;
  &.selector--visible {
    display: block;
    opacity: 1;
  }
  .selector__title {
    @extend .block-text--sm;
    color: $color-light-grey;
    margin-bottom: 0.5em;
  }
  .selector__frame {
    transition: background 0.3s, color 0.3s;
    @extend .block-text--sm;
    display: block;
    float: left;
    padding: 0.5em 1em 0;
    border: 2px solid $brand-primary;
    color: $brand-primary;
    cursor: pointer;
    min-height: 3em;
    line-height: 0;
    + .selector__frame {
      margin-left: 0.25em;
    }
    &:hover, &.selector__frame--active {
      color: $color-white;
      background: $brand-primary;
    }
    &.selector__frame--hidden {
      display: none;
    }
    .icon {
      width: 1.5em;
      height: 1.5em;
    }
  }
  .selector__frame--reset {
    @extend .selector__frame;
  }
}